*{
    padding: 5px;
    margin: 5px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 221, 185);
    border-radius: 10px;
}

img{
    height: 400px;
    width: 400px;
}
body{
    background-color: beige;
}
.tela{
    background-color: rgb(204, 116, 8);
    margin: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 0px 9px 0px ;
    
}

h1,p{
    text-align: center;
    margin-bottom: 40px
}

a{
    text-decoration: none;
}

span{
    background-color: blanchedalmond;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

span:hover{
    color: brown;
    background-color: chocolate;
}